!!! 5
%html
  %head
    %title The Discipline of Organizing
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #main{ :role => "main" }
      %p.logout{ :style => "text-align: right;" }=link_to('Logout', destroy_user_session_path, :method => :delete) if user_signed_in?

      %p.notice= notice
      %p.alert= alert
      %p.error= flash[:error]
      = yield
      %footer
        &copy; #{Time.now.year} UC Berkeley
